:root {
    --color-light-pink: #f3e3cb; /* Licht beige/roze */
    --color-pink: #ff9b9e;       /* Zacht roze */
    --color-red: #dd0222;        /* Dieprood */
    --color-orange: #ff8a00;     /* Oranje */
    --color-yellow: #fcb207;     /* Geel */
  }